<!DOCTYPE html>
<html>
  <head>
    <title>MotivationalProject</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/set-interval-async"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <form class="form" action="/" method="post">
      <h1 class="title">LA TUA FRASE MOTIVAZIONALE</h1>
    </form>

    <div class="card">
      <div class="data">
        <p class="day"><%= data?.day%></p>
        <p class="month"><%= data?.month%></p>
        <p class="year"><%= data?.year%></p>
      </div>

      <div class="content">
        <p class="post"><%= post?.content%></p>
        <p class="author"><%= post?.author%></p>
      </div>
    </div>
  </body>
</html>
